<a href="https://colab.research.google.com/github/GitHub-Guilherme/Curso-Extensao-Python-Pandas/blob/main/Segundo_exemplo_em_Python_Pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Primeiro exemplo de manipulação de dados usando Python Pandas**
Veremos inserção de dados, remoção de colunas, merge, gráficos

Autor: Henrique Poyatos e galera

Data: 9 e 10 de fevereiro de 2023

In [2]:
# 
# Importando biblioteca pandas no Python

import pandas as pd

In [6]:
# Ler o arquivo importado na bibliota Pandas ( as pd)

combustiveis_df = pd.read_excel("ca-2021-02.xlsx")

In [7]:
print(combustiveis_df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 168409 entries, 0 to 168408
Data columns (total 16 columns):
 #   Column             Non-Null Count   Dtype
---  ------             --------------   -----
 0   Regiao - Sigla     168409 non-null  object
 1   Estado - Sigla     168409 non-null  object
 2   Municipio          168409 non-null  object
 3   Revenda            168409 non-null  object
 4   CNPJ da Revenda    168409 non-null  object
 5   Nome da Rua        168409 non-null  object
 6   Numero Rua         168353 non-null  object
 7   Complemento        35057 non-null   object
 8   Bairro             168043 non-null  object
 9   Cep                168409 non-null  object
 10  Produto            168409 non-null  object
 11  Data da Coleta     168409 non-null  datetime64[ns]
 12  Valor de Venda     168409 non-null  float64
 13  Valor de Compra    0 non-null       float64
 14  Unidade de Medida  168409 non-null  object
 15  Bandeira           168409 non-null  object
dtypes: datetime64[ns](1), float64(2), object(13)
memory usage: 20.6+ MB
None

In [10]:
#05
#Inserção simples de dado, com filtro head de informações para trazer apenas 3 linhas

combustiveis_df['Ativo'] = True

display(combustiveis_df.head(3))

,Regiao - Sigla,Estado - Sigla,Municipio,Revenda,CNPJ da Revenda,Nome da Rua,Numero Rua,Complemento,Bairro,Cep,Produto,Data da Coleta,Valor de Venda,Valor de Compra,Unidade de Medida,Bandeira,Ativo
0,NE,AL,ARAPIRACA,POSTO ARAPIRACA LTDA,12.451.076/0004-65,RODOVIA AL 220,105,KM 68,CANAFISTULA,57302-605,GASOLINA,2021-11-01,6.799,NaN,R$ / litro,VIBRA ENERGIA,True
1,NE,AL,ARAPIRACA,POSTO ARAPIRACA LTDA,12.451.076/0004-65,RODOVIA AL 220,105,KM 68,CANAFISTULA,57302-605,ETANOL,2021-11-01,5.299,NaN,R$ / litro,VIBRA ENERGIA,True
2,NE,AL,ARAPIRACA,POSTO ARAPIRACA LTDA,12.451.076/0004-65,RODOVIA AL 220,105,KM 68,CANAFISTULA,57302-605,DIESEL,2021-11-01,5.549,NaN,R$ / litro,VIBRA ENERGIA,True

In [19]:
#06
#Criar uma coluna "Obs" que tenha nela escrito "MELHOR CIDADE" quando a coluna Municipio for igual a JOINVILLE

combustiveis_df['Obs'] = ["MELHOR CIDADE" if municipio == 'JOINVILLE' else None for municipio in combustiveis_df['Municipio']]
display(combustiveis_df.loc[combustiveis_df['Municipio'].isin(['JOINVILLE', 'INDAIATUBA', 'CAMPINAS', 'SALTO']), ['Municipio', 'Obs']])

        Municipio            Obs
2607     CAMPINAS           None
2608     CAMPINAS           None
2609     CAMPINAS           None
2610     CAMPINAS           None
2611     CAMPINAS           None
...           ...            ...
165836  JOINVILLE  MELHOR CIDADE
165837  JOINVILLE  MELHOR CIDADE
166552  JOINVILLE  MELHOR CIDADE
166553  JOINVILLE  MELHOR CIDADE
166554  JOINVILLE  MELHOR CIDADE

[3201 rows x 2 columns]

In [28]:
#07
# (por Leandro Rodrigues)
# como preencher uma coluna 'Valor de Venda - Status' que verifica o seguinte:
# Se o valor de venda for maior que 6,5 reais, ele fala que tá caro... caso contrário, está barato

import numpy as np

combustiveis_df['Valor de Venda - Status'] = np.where(combustiveis_df['Valor de Venda'] > 6.5, 'Carooooo', 'Barateza')
display(combustiveis_df[['Revenda','Municipio','Produto','Valor de Venda','Valor de Venda - Status']])

,Revenda,Municipio,Produto,Valor de Venda,Valor de Venda - Status
0,POSTO ARAPIRACA LTDA,ARAPIRACA,GASOLINA,6.799,Carooooo
1,POSTO ARAPIRACA LTDA,ARAPIRACA,ETANOL,5.299,Barateza
2,POSTO ARAPIRACA LTDA,ARAPIRACA,DIESEL,5.549,Barateza
3,POSTO ARAPIRACA LTDA,ARAPIRACA,GASOLINA ADITIVADA,6.899,Carooooo
4,POSTO ARAPIRACA LTDA,ARAPIRACA,DIESEL S10,5.649,Barateza
...,...,...,...,...,...
168404,COMERCIAL DE COMBUSTIVEL CACHOEIRINHA LTDA,JEQUIE,ETANOL,5.859,Barateza
168405,ABC DISTRIBUICAO DE PETROLEO LTDA,ITUIUTABA,GASOLINA,6.580,Carooooo
168406,ABC DISTRIBUICAO DE PETROLEO LTDA,ITUIUTABA,ETANOL,4.740,Barateza
168407,ABC DISTRIBUICAO DE PETROLEO LTDA,ITUIUTABA,DIESEL S10,5.448,Barateza
168408,ABC DISTRIBUICAO DE PETROLEO LTDA,ITUIUTABA,GASOLINA ADITIVADA,6.580,Carooooo

In [36]:
#10
# Calcular quantos postos de gasolina por habitante temos na amostragem de combustiveis nov/2021

#Necessário baixar nova fonte de dados. 

num_habitantes_df = pd.read_csv("ibge_num_habitantes_estimado_2021.csv", sep=";")  #Antes de inserir sep=";" é importante executar o display para verificar se o separador é virgula ou ponto e virgula. Função necessária para separar em colunas
display(num_habitantes_df)

         Municipio Estado  NumHabitantes2021
0   BELO HORIZONTE     MG            2530701
1         CAMPINAS     SP            1223237
2     CAMPO GRANDE     MS             916001
3         CURITIBA     PR            1963726
4          GOIANIA     GO            1555626
5       INDAIATUBA     SP             260690
6            NATAL     RN             803739
7           PALMAS     TO             313349
8        PENAPOLIS     SP              64098
9     PORTO ALEGRE     RS            1492530
10     PORTO VELHO     RO             548952
11      RIO BRANCO     AC             419452
12  RIO DE JANEIRO     RJ            6775561
13    SALTO GRANDE     SP               9396
14          SANTOS     SP             433991
15       SAO PAULO     SP           12396372
16     SAO VICENTE     SP             370839
17     SERRA NEGRA     SP              29669

In [43]:
#11
# Calcular postos de gasolina por habitante temos na amostragem de 
# combustiveis nov/2021

num_habitantes_df.rename(columns={"Estado":"Estado - Sigla"}, inplace=True)
display(num_habitantes_df)

         Municipio Estado - Sigla  NumHabitantes2021
0   BELO HORIZONTE             MG            2530701
1         CAMPINAS             SP            1223237
2     CAMPO GRANDE             MS             916001
3         CURITIBA             PR            1963726
4          GOIANIA             GO            1555626
5       INDAIATUBA             SP             260690
6            NATAL             RN             803739
7           PALMAS             TO             313349
8        PENAPOLIS             SP              64098
9     PORTO ALEGRE             RS            1492530
10     PORTO VELHO             RO             548952
11      RIO BRANCO             AC             419452
12  RIO DE JANEIRO             RJ            6775561
13    SALTO GRANDE             SP               9396
14          SANTOS             SP             433991
15       SAO PAULO             SP           12396372
16     SAO VICENTE             SP             370839
17     SERRA NEGRA             SP              29669

In [48]:
#12
#Faz um MERGE (CONCATENA) dois dataframes

colunas = ['Municipio', 'Estado - Sigla' ]
merge_df = combustiveis_df.merge(num_habitantes_df, how="inner", on=colunas)  #inner traz apenas valores que há número de habitantes, left traz tudo e inses NaN nas linhas que não há informações. Baseado em tabela fato
display(merge_df)

,Regiao - Sigla,Estado - Sigla,Municipio,Revenda,CNPJ da Revenda,Nome da Rua,Numero Rua,Complemento,Bairro,Cep,...,Data da Coleta,Valor de Venda,Valor de Compra,Unidade de Medida,Bandeira,Ativo,Obs,"(Revenda, Municipio, Produto, Valor de Venda, Valor de Venda - Status)",Valor de Venda - Status,NumHabitantes2021
0,CO,GO,GOIANIA,AERO SETE AUTO POSTO LTDA,37.831.484/0001-20,AVENIDA VEREADOR JOSE MONTEIRO,1854,QUADRA08 LOTE 11E,SETOR NEGRAO DE LIMA,74650-300,...,2021-11-01,6.999,NaN,R$ / litro,RAIZEN,True,None,Carooooo,Carooooo,1555626
1,CO,GO,GOIANIA,AERO SETE AUTO POSTO LTDA,37.831.484/0001-20,AVENIDA VEREADOR JOSE MONTEIRO,1854,QUADRA08 LOTE 11E,SETOR NEGRAO DE LIMA,74650-300,...,2021-11-01,4.990,NaN,R$ / litro,RAIZEN,True,None,Barateza,Barateza,1555626
2,CO,GO,GOIANIA,AERO SETE AUTO POSTO LTDA,37.831.484/0001-20,AVENIDA VEREADOR JOSE MONTEIRO,1854,QUADRA08 LOTE 11E,SETOR NEGRAO DE LIMA,74650-300,...,2021-11-01,7.130,NaN,R$ / litro,RAIZEN,True,None,Carooooo,Carooooo,1555626
3,CO,GO,GOIANIA,POSTO DO BOI LTDA,06.880.293/0001-25,AVENIDA INDEPENDENCIA,2.908,NaN,VILA NOVA,74645-010,...,2021-11-01,6.990,NaN,R$ / litro,BRANCA,True,None,Carooooo,Carooooo,1555626
4,CO,GO,GOIANIA,POSTO DO BOI LTDA,06.880.293/0001-25,AVENIDA INDEPENDENCIA,2.908,NaN,VILA NOVA,74645-010,...,2021-11-01,4.990,NaN,R$ / litro,BRANCA,True,None,Barateza,Barateza,1555626
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
20629,SE,SP,INDAIATUBA,POSTO DOS ESTEVES LTDA,20.763.169/0001-00,AVENIDA ITORORO,160,NaN,CENTRO,13330-055,...,2021-12-28,6.499,NaN,R$ / litro,IPIRANGA,True,None,Barateza,Barateza,260690
20630,SE,SP,INDAIATUBA,ABDELNOR VI COMERCIO DE COMBUSTIVEIS LTDA,30.253.289/0001-11,AVENIDA PRESIDENTE KENNEDY,496,NaN,CIDADE NOVA I,13334-170,...,2021-12-28,5.499,NaN,R$ / litro,RAIZEN,True,None,Barateza,Barateza,260690
20631,SE,SP,INDAIATUBA,ABDELNOR VI COMERCIO DE COMBUSTIVEIS LTDA,30.253.289/0001-11,AVENIDA PRESIDENTE KENNEDY,496,NaN,CIDADE NOVA I,13334-170,...,2021-12-28,6.699,NaN,R$ / litro,RAIZEN,True,None,Carooooo,Carooooo,260690
20632,SE,SP,INDAIATUBA,ABDELNOR VI COMERCIO DE COMBUSTIVEIS LTDA,30.253.289/0001-11,AVENIDA PRESIDENTE KENNEDY,496,NaN,CIDADE NOVA I,13334-170,...,2021-12-28,4.899,NaN,R$ / litro,RAIZEN,True,None,Barateza,Barateza,260690
20633,SE,SP,INDAIATUBA,ABDELNOR VI COMERCIO DE COMBUSTIVEIS LTDA,30.253.289/0001-11,AVENIDA PRESIDENTE KENNEDY,496,NaN,CIDADE NOVA I,13334-170,...,2021-12-28,6.299,NaN,R$ / litro,RAIZEN,True,None,Barateza,Barateza,260690

In [86]:
#12B
# Faz um MERGE dos dois dataframes
colunas = ['Municipio', 'Estado - Sigla']
merge_df = combustiveis_df.merge(num_habitantes_df, how="inner", on=colunas)
display(merge_df)
print(merge_df.info())

,Regiao - Sigla,Estado - Sigla,Municipio,Revenda,CNPJ da Revenda,Nome da Rua,Numero Rua,Complemento,Bairro,Cep,...,Data da Coleta,Valor de Venda,Valor de Compra,Unidade de Medida,Bandeira,Ativo,Obs,"(Revenda, Municipio, Produto, Valor de Venda, Valor de Venda - Status)",Valor de Venda - Status,NumHabitantes2021
0,CO,GO,GOIANIA,AERO SETE AUTO POSTO LTDA,37.831.484/0001-20,AVENIDA VEREADOR JOSE MONTEIRO,1854,QUADRA08 LOTE 11E,SETOR NEGRAO DE LIMA,74650-300,...,2021-11-01,6.999,NaN,R$ / litro,RAIZEN,True,None,Carooooo,Carooooo,1555626
1,CO,GO,GOIANIA,AERO SETE AUTO POSTO LTDA,37.831.484/0001-20,AVENIDA VEREADOR JOSE MONTEIRO,1854,QUADRA08 LOTE 11E,SETOR NEGRAO DE LIMA,74650-300,...,2021-11-01,4.990,NaN,R$ / litro,RAIZEN,True,None,Barateza,Barateza,1555626
2,CO,GO,GOIANIA,AERO SETE AUTO POSTO LTDA,37.831.484/0001-20,AVENIDA VEREADOR JOSE MONTEIRO,1854,QUADRA08 LOTE 11E,SETOR NEGRAO DE LIMA,74650-300,...,2021-11-01,7.130,NaN,R$ / litro,RAIZEN,True,None,Carooooo,Carooooo,1555626
3,CO,GO,GOIANIA,POSTO DO BOI LTDA,06.880.293/0001-25,AVENIDA INDEPENDENCIA,2.908,NaN,VILA NOVA,74645-010,...,2021-11-01,6.990,NaN,R$ / litro,BRANCA,True,None,Carooooo,Carooooo,1555626
4,CO,GO,GOIANIA,POSTO DO BOI LTDA,06.880.293/0001-25,AVENIDA INDEPENDENCIA,2.908,NaN,VILA NOVA,74645-010,...,2021-11-01,4.990,NaN,R$ / litro,BRANCA,True,None,Barateza,Barateza,1555626
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
20629,SE,SP,INDAIATUBA,POSTO DOS ESTEVES LTDA,20.763.169/0001-00,AVENIDA ITORORO,160,NaN,CENTRO,13330-055,...,2021-12-28,6.499,NaN,R$ / litro,IPIRANGA,True,None,Barateza,Barateza,260690
20630,SE,SP,INDAIATUBA,ABDELNOR VI COMERCIO DE COMBUSTIVEIS LTDA,30.253.289/0001-11,AVENIDA PRESIDENTE KENNEDY,496,NaN,CIDADE NOVA I,13334-170,...,2021-12-28,5.499,NaN,R$ / litro,RAIZEN,True,None,Barateza,Barateza,260690
20631,SE,SP,INDAIATUBA,ABDELNOR VI COMERCIO DE COMBUSTIVEIS LTDA,30.253.289/0001-11,AVENIDA PRESIDENTE KENNEDY,496,NaN,CIDADE NOVA I,13334-170,...,2021-12-28,6.699,NaN,R$ / litro,RAIZEN,True,None,Carooooo,Carooooo,260690
20632,SE,SP,INDAIATUBA,ABDELNOR VI COMERCIO DE COMBUSTIVEIS LTDA,30.253.289/0001-11,AVENIDA PRESIDENTE KENNEDY,496,NaN,CIDADE NOVA I,13334-170,...,2021-12-28,4.899,NaN,R$ / litro,RAIZEN,True,None,Barateza,Barateza,260690
20633,SE,SP,INDAIATUBA,ABDELNOR VI COMERCIO DE COMBUSTIVEIS LTDA,30.253.289/0001-11,AVENIDA PRESIDENTE KENNEDY,496,NaN,CIDADE NOVA I,13334-170,...,2021-12-28,6.299,NaN,R$ / litro,RAIZEN,True,None,Barateza,Barateza,260690

<class 'pandas.core.frame.DataFrame'>
Int64Index: 20634 entries, 0 to 20633
Data columns (total 21 columns):
 #   Column                                                                  Non-Null Count  Dtype
---  ------                                                                  --------------  -----
 0   Regiao - Sigla                                                          20634 non-null  object
 1   Estado - Sigla                                                          20634 non-null  object
 2   Municipio                                                               20634 non-null  object
 3   Revenda                                                                 20634 non-null  object
 4   CNPJ da Revenda                                                         20634 non-null  object
 5   Nome da Rua                                                             20634 non-null  object
 6   Numero Rua                                                              20634 non-null  object
 7   Complemento                                                             3837 non-null   object
 8   Bairro                                                                  20634 non-null  object
 9   Cep                                                                     20634 non-null  object
 10  Produto                                                                 20634 non-null  object
 11  Data da Coleta                                                          20634 non-null  datetime64[ns]
 12  Valor de Venda                                                          20634 non-null  float64
 13  Valor de Compra                                                         0 non-null      float64
 14  Unidade de Medida                                                       20634 non-null  object
 15  Bandeira                                                                20634 non-null  object
 16  Ativo                                                                   20634 non-null  bool
 17  Obs                                                                     0 non-null      object
 18  (Revenda, Municipio, Produto, Valor de Venda, Valor de Venda - Status)  20634 non-null  object
 19  Valor de Venda - Status                                                 20634 non-null  object
 20  NumHabitantes2021                                                       20634 non-null  int64
dtypes: bool(1), datetime64[ns](1), float64(2), int64(1), object(16)
memory usage: 3.3+ MB
None

In [87]:
#Destruir coluna completamente vazia (todas linhas são nulas)
merge_df.dropna(axis='columns', inplace=True)
print(merge_df.info())

<class 'pandas.core.frame.DataFrame'>
Int64Index: 20634 entries, 0 to 20633
Data columns (total 18 columns):
 #   Column                                                                  Non-Null Count  Dtype
---  ------                                                                  --------------  -----
 0   Regiao - Sigla                                                          20634 non-null  object
 1   Estado - Sigla                                                          20634 non-null  object
 2   Municipio                                                               20634 non-null  object
 3   Revenda                                                                 20634 non-null  object
 4   CNPJ da Revenda                                                         20634 non-null  object
 5   Nome da Rua                                                             20634 non-null  object
 6   Numero Rua                                                              20634 non-null  object
 7   Bairro                                                                  20634 non-null  object
 8   Cep                                                                     20634 non-null  object
 9   Produto                                                                 20634 non-null  object
 10  Data da Coleta                                                          20634 non-null  datetime64[ns]
 11  Valor de Venda                                                          20634 non-null  float64
 12  Unidade de Medida                                                       20634 non-null  object
 13  Bandeira                                                                20634 non-null  object
 14  Ativo                                                                   20634 non-null  bool
 15  (Revenda, Municipio, Produto, Valor de Venda, Valor de Venda - Status)  20634 non-null  object
 16  Valor de Venda - Status                                                 20634 non-null  object
 17  NumHabitantes2021                                                       20634 non-null  int64
dtypes: bool(1), datetime64[ns](1), float64(1), int64(1), object(14)
memory usage: 2.9+ MB
None

In [88]:
#14
colunas=['Regiao - Sigla', 'Nome da Rua', 'Numero Rua', 
         'Bairro', 'Cep', 'Produto', 'Data da Coleta', 'Valor de Venda',
         'Unidade de Medida', 'Bandeira', 'Ativo', 'Valor de Venda - Status']
merge_df.drop(labels=colunas, axis=1, inplace=True)
print(merge_df.info())

<class 'pandas.core.frame.DataFrame'>
Int64Index: 20634 entries, 0 to 20633
Data columns (total 6 columns):
 #   Column                                                                  Non-Null Count  Dtype
---  ------                                                                  --------------  -----
 0   Estado - Sigla                                                          20634 non-null  object
 1   Municipio                                                               20634 non-null  object
 2   Revenda                                                                 20634 non-null  object
 3   CNPJ da Revenda                                                         20634 non-null  object
 4   (Revenda, Municipio, Produto, Valor de Venda, Valor de Venda - Status)  20634 non-null  object
 5   NumHabitantes2021                                                       20634 non-null  int64
dtypes: int64(1), object(5)
memory usage: 1.1+ MB
None

In [89]:
# Remover a linhas duplicadas
merge_df.drop_duplicates(inplace=True)
display(merge_df.head(100))

,Estado - Sigla,Municipio,Revenda,CNPJ da Revenda,"(Revenda, Municipio, Produto, Valor de Venda, Valor de Venda - Status)",NumHabitantes2021
0,GO,GOIANIA,AERO SETE AUTO POSTO LTDA,37.831.484/0001-20,Carooooo,1555626
1,GO,GOIANIA,AERO SETE AUTO POSTO LTDA,37.831.484/0001-20,Barateza,1555626
3,GO,GOIANIA,POSTO DO BOI LTDA,06.880.293/0001-25,Carooooo,1555626
4,GO,GOIANIA,POSTO DO BOI LTDA,06.880.293/0001-25,Barateza,1555626
7,GO,GOIANIA,POSTO DN LTDA,05.413.136/0001-47,Carooooo,1555626
...,...,...,...,...,...,...
182,GO,GOIANIA,AUTO POSTO LIDER LTDA,15.225.748/0001-60,Carooooo,1555626
185,GO,GOIANIA,ALL ' FORTE AUTO POSTO LTDA,20.173.970/0001-04,Barateza,1555626
186,GO,GOIANIA,ALL ' FORTE AUTO POSTO LTDA,20.173.970/0001-04,Carooooo,1555626
188,GO,GOIANIA,MARQUES DE CASTRO & GABRIEL LTDA,04.397.008/0002-75,Carooooo,1555626
189,GO,GOIANIA,MARQUES DE CASTRO & GABRIEL LTDA,04.397.008/0002-75,Barateza,1555626

In [100]:
#16
#Agrupar e contar quantos postos tem na cidade...

postos_por_municipio_df = merge_df.groupby(by=['Estado - Sigla', 'Municipio', 'NumHabitantes2021']).count()
postos_por_municipio_df.drop('CNPJ da Revenda', axis=1, inplace=True)
postos_por_municipio_df.rename(columns={"Revenda": "Número de Postos"}, inplace=True)
display(postos_por_municipio_df)

                                                 Número de Postos  \
Estado - Sigla Municipio      NumHabitantes2021
AC             RIO BRANCO     419452                           88
GO             GOIANIA        1555626                         186
MG             BELO HORIZONTE 2530701                         108
MS             CAMPO GRANDE   916001                          184
PR             CURITIBA       1963726                         146
RJ             RIO DE JANEIRO 6775561                         752
RN             NATAL          803739                           74
RO             PORTO VELHO    548952                           75
RS             PORTO ALEGRE   1492530                         131
SP             CAMPINAS       1223237                          74
               INDAIATUBA     260690                           59
               SANTOS         433991                           58
               SAO PAULO      12396372                        650
               SAO VICENTE    370839                           30
TO             PALMAS         313349                           50

                                                 (Revenda, Municipio, Produto, Valor de Venda, Valor de Venda - Status)
Estado - Sigla Municipio      NumHabitantes2021
AC             RIO BRANCO     419452                                                            88
GO             GOIANIA        1555626                                                          186
MG             BELO HORIZONTE 2530701                                                          108
MS             CAMPO GRANDE   916001                                                           184
PR             CURITIBA       1963726                                                          146
RJ             RIO DE JANEIRO 6775561                                                          752
RN             NATAL          803739                                                            74
RO             PORTO VELHO    548952                                                            75
RS             PORTO ALEGRE   1492530                                                          131
SP             CAMPINAS       1223237                                                           74
               INDAIATUBA     260690                                                            59
               SANTOS         433991                                                            58
               SAO PAULO      12396372                                                         650
               SAO VICENTE    370839                                                            30
TO             PALMAS         313349                                                            50

In [101]:
merge_df['PostosPorHabitante'] = merge_df['Número de Postos']  / merge_df['NumHabitantes2021']

KeyError: ignored